<div id="wrap">
  <nav class="navbar navbar-default navbar-fixed-top" id="navbar" role="navigation"></nav>
  <div class="container" id="content"></div>
</div>
<div id="site-footer" class="footer"></div>
